footer {
  margin-top: 1rem;
  padding-bottom: 2rem;

  a {
    @include transition(all ease-in 0.2s);
    &:hover {
      color: $quadrary !important;
      @include transition(all ease-in 0.2s);
    }
  }
}
