/**********************************/
/*ALL RELEVANT STYLES BEYOND COLOR*/
/**********************************/
header {
  @include sm {
    margin-bottom: 3rem;
  }
  nav {
    a {
      @include transition(all ease-in 0.2s);
      &:hover {
        @include transition(all ease-in 0.2s);
      }
    }
    .navbar-toggler {
      @include lt-sm {
        right: 1rem;
      }
      svg {
        @include transition(all ease-in 0.2s);
      }
      &:focus {
        @include transition(all ease-in 0.2s);
      }
      &:hover {
        svg {
          @include transition(all ease-in 0.2s);
        }
        @include transition(all ease-in 0.2s);
      }
      @include transition(all ease-in 0.2s);
    }
    .dropdown {
      .dropdown-toggle {
        background: none !important;
        outline: none !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        padding: 0 0 0.25rem 0;
        line-height: 0;
        &:after {
          content: unset;
        }
        &:focus,
        &:hover {
          @include transition(all ease-in 0.2s);
        }
        svg {
          margin-bottom: -2px;
        }
        @include transition(all ease-in 0.2s);
      }
      .dropdown-menu {
        margin-top: 0.25rem;
        padding: 0;
        .dropdown-item {
          padding: 0.5rem;
          line-height: 1;
        }
      }
    }
    .searchbar-container {
      margin-bottom: 0.25rem;
      .navbar-nav {
        .input-group {
          input {
            &:focus {
              box-shadow: none;
            }
          }
          .input-group-text {
            border-left: none;
            .search-btn {
              background: none;
              outline: none;
              border: none;
              padding: 0;
              line-height: 0;
              @include transition(all ease-in 0.2s);
            }
            &:hover {
              .search-btn {
                @include transition(all ease-in 0.2s);
              }
              @include transition(all ease-in 0.2s);
            }
            @include transition(all ease-in 0.2s);
          }
        }
      }
    }
  }
}

/*******/
/*LIGHT*/
/*******/
.light {
  header {
    nav {
      background: $light-primary;
      h2,
      .navbar-text {
        color: $light-quadrary !important;
      }
      a {
        color: $light-secondary !important;
      }
      a {
        &:hover {
          color: $light-tertiary !important;
        }
      }
      .navbar-toggler {
        border: 2px solid $light-quadrary !important;
        svg {
          color: $light-quadrary;
        }
        &:focus {
          box-shadow: 0 0 20px $light-tertiary !important;
        }
        &:hover {
          background: $light-primary;
          svg {
            color: $light-tertiary;
          }
        }
      }
      .dropdown {
        .dropdown-toggle {
          color: $light-quadrary !important;
          &:focus,
          &:hover {
            border-bottom: 1px solid $light-quadrary !important;
          }
        }
        .dropdown-menu {
          background: $light-primary;
          border-color: $light-quadrary;
          .dropdown-item {
            color: $light-quadrary;
            &:hover {
              background: $light-quadrary;
              color: $light-primary;
            }
          }
        }
      }
      .searchbar-container {
        .navbar-nav {
          .input-group {
            input {
              background: $light-primary;
              border: 1px solid $light-quadrary;
              color: $light-quadrary;
              caret-color: $light-quadrary;
            }
            .input-group-text {
              background: $light-primary;
              color: $light-quadrary;
              border: 1px solid $light-quadrary;
              .search-btn {
                color: $light-quadrary;
              }
              &:hover {
                background: $light-quadrary;
                .search-btn {
                  color: $light-primary;
                }
              }
            }
          }
        }
      }
    }
  }
}

/******/
/*DARK*/
/******/
.dark {
  header {
    nav {
      background: $dark-primary;
      h2,
      .navbar-text {
        color: $dark-quadrary !important;
      }
      a {
        color: $dark-secondary !important;
      }
      a {
        &:hover {
          color: $dark-tertiary !important;
        }
      }
      .navbar-toggler {
        background: $dark-quadrary;
        border: 2px solid $dark-quadrary !important;
        svg {
          color: $dark-primary;
        }
        &:focus {
          box-shadow: 0 0 20px $dark-tertiary !important;
        }
        &:hover {
          background: $dark-primary;
          svg {
            color: $dark-quadrary;
          }
        }
      }
      .dropdown {
        .dropdown-toggle {
          color: $dark-quadrary !important;
          &:focus,
          &:hover {
            border-bottom: 1px solid $dark-quadrary !important;
          }
        }
        .dropdown-menu {
          background: $dark-primary;
          border-color: $dark-quadrary;
          .dropdown-item {
            color: $dark-quadrary;
            &:hover {
              background: $dark-quadrary;
              color: $dark-primary;
            }
          }
        }
      }
      .searchbar-container {
        .navbar-nav {
          .input-group {
            input {
              background: $dark-primary;
              border: 1px solid $dark-quadrary;
              color: $dark-quadrary;
              caret-color: $dark-quadrary;
            }
            .input-group-text {
              background: $dark-primary;
              color: $dark-quadrary;
              border: 1px solid $dark-quadrary;
              .search-btn {
                color: $dark-quadrary;
              }
              &:hover {
                background: $dark-quadrary;
                .search-btn {
                  color: $dark-primary;
                }
              }
            }
          }
        }
      }
    }
  }
}
