header {
  @include sm {
    margin-bottom: 3rem;
  }

  nav {
    background: $primary;

    h2,
    .navbar-text {
      color: $quadrary !important;
    }

    a {
      color: $secondary !important;
    }

    a {
      @include transition(all ease-in 0.2s);
      &:hover {
        color: $tertiary !important;
        @include transition(all ease-in 0.2s);
      }
    }

    .navbar-toggler {
      border: 2px solid $quadrary !important;
      @include lt-sm {
        right: 1rem;
      }

      svg {
        color: $quadrary;
        @include transition(all ease-in 0.2s);
      }

      &:focus {
        box-shadow: 0 0 20px $tertiary !important;
        @include transition(all ease-in 0.2s);
      }

      &:hover {
        background: $primary;
        svg {
          color: $tertiary;
          @include transition(all ease-in 0.2s);
        }
        @include transition(all ease-in 0.2s);
      }

      @include transition(all ease-in 0.2s);
    }
    .searchbar-container {
      margin-bottom: 0.25rem;

      .navbar-nav {
        .input-group {
          input {
            background: $primary;
            border: 1px solid $quadrary;
            color: $quadrary;
            caret-color: $quadrary;

            &:focus {
              box-shadow: none;
            }
          }

          .input-group-text {
            background: $primary;
            color: $quadrary;
            border: 1px solid $quadrary;
            border-left: none;

            .search-btn {
              background: none;
              outline: none;
              border: none;
              color: $quadrary;
              padding: 0;
              line-height: 0;
              @include transition(all ease-in 0.2s);
            }

            &:hover {
              background: $quadrary;
              .search-btn {
                color: $primary;
                @include transition(all ease-in 0.2s);
              }
              @include transition(all ease-in 0.2s);
            }

            @include transition(all ease-in 0.2s);
          }
        }
      }
    }
  }
}
