/*************/
/*BREAKPOINTS*/
/*************/

//Small devices
@mixin sm {
  @media (min-width: #{$sm}) {
    @content;
  }
}

//Medium devices
@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

//Large devices
@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

//Extra large devices
@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}

//Custom devices
@mixin rwd($screen) {
  @media (min-width: '#{$screen}px') {
    @content;
  }
}

/*********/
/*EFFECTS*/
/*********/

//Opacity
@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

//Smooth transitions
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
