/*************/
/*BREAKPOINTS*/
/*************/

/*"Greater than" statements*/

//Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

//Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

//Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

//Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

//Custom devices
@mixin rwd($screen) {
  @media (min-width: '#{$screen}px') {
    @content;
  }
}

/*"Lesser than" statements*/
//Small devices
@mixin lt-sm {
  @media (max-width: #{$screen-sm-min - 1px}) {
    @content;
  }
}

//Medium devices
@mixin lt-md {
  @media (max-width: #{$screen-md-min - 1px}) {
    @content;
  }
}

//Large devices
@mixin lt-lg {
  @media (max-width: #{$screen-lg-min - 1px}) {
    @content;
  }
}

//Extra large devices
@mixin lt-xl {
  @media (max-width: #{$screen-xl-min - 1px}) {
    @content;
  }
}

//Custom devices
@mixin lt-rwd($screen) {
  @media (min-width: '#{$screen}px') {
    @content;
  }
}

/*********/
/*EFFECTS*/
/*********/

//Opacity
@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

//Smooth transitions
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//Linear gradient
@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}
