/**********************************/
/*ALL RELEVANT STYLES BEYOND COLOR*/
/**********************************/
.thread-modal {
  max-width: 80%;
  margin: 3rem auto auto auto;
  @include lg {
    max-width: 60%;
  }
  .modal-content {
    border-radius: 0.25rem;
    .modal-header {
      border-bottom: none;
      button {
        outline: none;
        &:hover {
          @include transition(all ease 0.2s);
        }
        &:focus {
          @include transition(all ease-in 0.2s);
        }
        @include transition(all ease 0.2s);
      }
    }
  }
}

/*******/
/*LIGHT*/
/*******/
.light {
  .thread-modal {
    .modal-content {
      background: $light-primary;
      border: 1px solid $light-quadrary;
      .modal-header {
        button {
          border: 2px solid $light-primary;
          background: $light-primary;
          color: $light-quadrary;
          &:hover {
            background: $light-quadrary;
            color: $light-primary;
          }
          &:focus {
            box-shadow: 0 0 20px $light-tertiary !important;
          }
        }
      }
      .modal-body {
        img {
          border: 1px solid $light-quadrary;
        }
      }
    }
  }
}

/******/
/*DARK*/
/******/
.dark {
  .thread-modal {
    .modal-content {
      background: $dark-quadrary;
      border: 1px solid $dark-primary;
      .modal-header {
        button {
          border: 2px solid $dark-quadrary;
          background: $dark-quadrary;
          color: $dark-primary;
          &:hover {
            background: $dark-primary;
            color: $dark-quadrary;
          }
          &:focus {
            box-shadow: 0 0 20px $dark-tertiary !important;
          }
        }
      }
      .modal-body {
        img {
          border: 1px solid $dark-primary;
        }
      }
    }
  }
}

/*********/
/*UNICORN*/
/*********/
.unicorn {
  .thread-modal {
    .modal-content {
      background: $unicorn-primary;
      border: 1px solid $unicorn-secondary;
      .modal-header {
        button {
          border: 2px solid $unicorn-primary;
          background: $unicorn-primary;
          color: $unicorn-secondary;
          &:hover {
            background: $unicorn-secondary;
            color: $unicorn-tertiary;
          }
          &:focus {
            box-shadow: 0 0 20px $unicorn-tertiary !important;
          }
        }
      }
      .modal-body {
        img {
          border: 1px solid $unicorn-secondary;
        }
      }
    }
  }
}