/**********************************/
/*ALL RELEVANT STYLES BEYOND COLOR*/
/**********************************/
.thread-modal {
  max-width: 80%;
  margin: 3rem auto auto auto;
  @include lg {
    max-width: 60%;
  }
  .modal-content {
    border-radius: 0.25rem;
    .modal-header {
      border-bottom: none;
      button {
        outline: none;
        &:hover {
          @include transition(all ease 0.2s);
        }
        &:focus {
          @include transition(all ease-in 0.2s);
        }
        @include transition(all ease 0.2s);
      }
    }
    .modal-body {
      .modal-img-container {
        position: relative;
        .img-undefined {
          background: rgba(0, 0, 0, 0.25);
          position: absolute;
          height: 100%;
          width: 100%;
          &.show {
            display: flex;
          }
          &.hide {
            display: none;
          }
          .img-undefined-text {
            font-size: calc(1rem - 0.6vw);
            margin: 0;
            padding: 1rem 2rem;
            line-height: 1;

            @include md {
              font-size: 1rem;
              padding: 1rem 2rem;
            }
          }
        }
      }
    }
  }
}

/*******/
/*LIGHT*/
/*******/
.light {
  .thread-modal {
    .modal-content {
      background: $light-primary;
      border: 1px solid $light-quadrary;
      .modal-header {
        button {
          border: 2px solid $light-primary;
          background: $light-primary;
          color: $light-quadrary;
          &:hover {
            background: $light-quadrary;
            color: $light-primary;
          }
          &:focus {
            box-shadow: 0 0 20px $light-tertiary !important;
          }
        }
      }
      .modal-body {
        .modal-img-container {
          .img-undefined {
            .img-undefined-text {
              color: $light-quadrary;
              background: fade-out($light-primary, 0.2);
              border: 1px solid $light-quadrary;
            }
          }
        }
        img {
          border: 1px solid $light-quadrary;
        }
      }
    }
  }
}

/******/
/*DARK*/
/******/
.dark {
  .thread-modal {
    .modal-content {
      background: $dark-quadrary;
      border: 1px solid $dark-primary;
      .modal-header {
        button {
          border: 2px solid $dark-quadrary;
          background: $dark-quadrary;
          color: $dark-primary;
          &:hover {
            background: $dark-primary;
            color: $dark-quadrary;
          }
          &:focus {
            box-shadow: 0 0 20px $dark-tertiary !important;
          }
        }
      }
      .modal-body {
        .modal-img-container {
          .img-undefined {
            .img-undefined-text {
              color: $dark-primary;
              background: fade-out($dark-quadrary, 0.2);
              border: 1px solid $dark-primary;
            }
          }
        }
        img {
          border: 1px solid $dark-primary;
        }
      }
    }
  }
}

/*********/
/*UNICORN*/
/*********/
.unicorn {
  .thread-modal {
    .modal-content {
      background: $unicorn-primary;
      border: 1px solid $unicorn-secondary;
      .modal-header {
        button {
          border: 2px solid $unicorn-primary;
          background: $unicorn-primary;
          color: $unicorn-secondary;
          &:hover {
            background: $unicorn-secondary;
            color: $unicorn-tertiary;
          }
          &:focus {
            box-shadow: 0 0 20px $unicorn-tertiary !important;
          }
        }
      }
      .modal-body {
        .modal-img-container {
          .img-undefined {
            .img-undefined-text {
              color: $unicorn-tertiary;
              background: fade-out($unicorn-secondary, 0.2);
              border: 1px solid $unicorn-tertiary;
            }
          }
        }
        img {
          border: 1px solid $unicorn-secondary;
        }
      }
    }
  }
}
