#sidebar {
  aside {
    .subreddit-pill {
      @include lt-sm {
        width: 49.5%;
      }
      font-size: 0.85rem;
      @include xl {
        font-size: 1rem;
      }
      background: $primary;
      p,
      small {
        color: $quadrary;
      }

      @include transition(all ease 0.2s);
      &:hover {
        background: fade-out($tertiary, 0.4) ;

        p,
        small {
          color: $black;
        }
        .subreddit-img {
          outline-color: $primary;
        }
        @include transition(all ease 0.2s);
      }

      button {
        outline: none;
        border: none;
        background: none;
      }
    }

    .subreddit-img {
      height: 22px;
      width: 22px;

      @include xl {
        height: 32px;
        width: 32px;
      }
    }

    .subreddit-pill,
    .subreddit-img {
      border-radius: 1.5rem;
    }
  }
}
