/**********************************/
/*ALL RELEVANT STYLES BEYOND COLOR*/
/**********************************/
#thread {
  border-radius: 0;
  @include sm {
    border-radius: 0.28rem 0 0 0.28rem;
  }
  h3 {
    font-size: calc(1rem + 0.6vw);
    @include md {
      font-size: calc(1.3rem + 0.6vw);
    }
  }
  .loading {
    margin-top: 1rem;
  }
  a {
    .loading {
      margin-top: 0;
    }
  }
  a {
    &:hover {
      @include transition(all ease 0.2s);
    }
    @include transition(all ease 0.2s);
  }
  .more-btn {
    outline: none;
    &:hover {
      @include transition(all ease 0.2s);
    }
    &:focus {
      @include transition(all ease-in 0.2s);
    }
    @include transition(all ease 0.2s);
  }
  .img-container {
    cursor: pointer;
    max-height: 40rem;
    overflow: hidden;

    .thread-img {
      &.loading {
        height: 30rem;
        width: 100%;
      }
    }
  }
  .loading-placeholder {
    height: 3rem;
    background: fade-out($charcoal, 0.8);
  }
  .loading-pulse {
    animation: pulse 5s infinite;
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 fade-out($light-primary, 0.7);
      background: fade-out($charcoal, 0.95);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      background: fade-out($charcoal, 0.8);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}

/*******/
/*LIGHT*/
/*******/
.light {
  #thread {
    background: $light-secondary;
    border: 1px solid $light-primary;
    .loading {
      g {
        stroke: $light-primary;
      }
    }
    a {
      .loading {
        g {
          stroke: $light-primary;
        }
      }
    }
    a {
      color: $light-primary;
      &:hover {
        color: $light-tertiary;
      }
    }
    .img-container {
      .thread-img {
        border: 1px solid $light-primary;
      }
    }
    .more-btn {
      border: 2px solid $light-primary;
      background: $light-primary;
      color: $light-quadrary;
      &:hover {
        background: $light-quadrary;
        color: $light-primary;
      }
      &:focus {
        box-shadow: 0 0 20px $light-tertiary !important;
      }
    }
  }
}

/******/
/*DARK*/
/******/
.dark {
  #thread {
    background: $dark-primary;
    border: 1px solid $dark-secondary;

    .loading {
      g {
        stroke: $dark-primary;
      }
    }
    a {
      .loading {
        g {
          stroke: $dark-primary;
        }
      }
    }
    a {
      color: $dark-quadrary;
      &:hover {
        color: $dark-tertiary;
      }
    }
    .img-container {
      img {
        border: 1px solid $dark-secondary;
      }
    }
    .more-btn {
      border: 2px solid $dark-quadrary;
      background: $dark-quadrary;
      color: $dark-primary;
      &:hover {
        background: $dark-primary;
        color: $dark-quadrary;
      }
      &:focus {
        box-shadow: 0 0 20px $dark-tertiary !important;
      }
    }
  }
}

/*********/
/*UNICORN*/
/*********/
.unicorn {
  #thread {
    background: $unicorn-secondary;
    border: 1px solid $unicorn-primary;
    .loading {
      g {
        stroke: $unicorn-primary;
      }
    }
    a {
      .loading {
        g {
          stroke: $unicorn-primary;
        }
      }
    }
    a {
      color: $unicorn-tertiary;
      &:hover {
        color: $unicorn-primary;
      }
    }
    .img-container {
      img {
        border: 1px solid $unicorn-primary;
      }
    }
    .more-btn {
      border: 2px solid $unicorn-primary;
      background: $unicorn-primary;
      color: $unicorn-secondary;
      &:hover {
        background: $unicorn-secondary;
        color: $unicorn-tertiary;
      }
      &:focus {
        box-shadow: 0 0 20px $unicorn-tertiary !important;
      }
    }
  }
}
