/***********/
/*VARIABLES*/
/***********/

//Enable bootstrap negative margin classes. NOTE: try to use sparingly
$enable-negative-margins: true;

//Color overrides
$white: #fff;
$black: black;
$charcoal: #1c1c1c;

//Palette definitions
$dark-navy: #223843 !default;
$dark-plum: #2a0042 !default;
$evening-sky: #9246be !default;
$ice-white: #eff1f3 !default;
$ice: #d6efff !default;
$lavender: #dbd3d8 !default;
$blush: #d8b4a0 !default;
$salmon: #fe654f !default;
$sand: #fed18c !default;

//Set color names to light palette ranks
$light-primary: $dark-navy !default;
$light-secondary: $ice-white !default;
$light-tertiary: $salmon !default;
$light-quadrary: $sand !default;

//Set light gradient start and end colors
$light-gradient-start: $sand !default;
$light-gradient-end: $salmon !default;

//Create light gradient rule
$light-gradient-list: $light-gradient-start 0%, $light-gradient-start 33%, $light-gradient-end 66%, $light-gradient-end 100%;

//Set color names to dark palette ranks
$dark-primary: $lavender !default;
$dark-secondary: $dark-navy !default;
$dark-tertiary: $evening-sky !default;
$dark-quadrary: $dark-plum !default;

//Set light gradient start and end colors
$dark-gradient-start: $charcoal !default;
$dark-gradient-end: $dark-plum !default;

//Create light gradient rule
$dark-gradient-list: $dark-gradient-start 0%, $dark-gradient-start 15%, $dark-gradient-end 35%, $dark-gradient-end 100%;

//Font overrides
$font-family-sans-serif: 'League Spartan', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$font-family-base: $font-family-sans-serif !default;

//Dimension variables
$navbar-height: 72px;

//Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

//Small tablets (portrait view)
$screen-md-min: 768px;

//Tablets and small desktops
$screen-lg-min: 992px;

//Large tablets and desktops
$screen-xl-min: 1200px;
